/* palleate color */
:root{
    --color-dark:#4b45dd;
    --color-main:#6862f4;
    --color-gray:#7b8da0;
    --color-gray1:#424242;
    --color-light:#f4f4ff;
}
/* reset & common   classes */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Montserrat' , sans-serif;
    font-weight: 400;
    /* outline: 1px solid red; */
  }
  html{
    scroll-behavior: smooth;
  }
  a{
    text-decoration: none;
    color: var(--color-main);
  }
  p{
    font-size: .9em;
  }
  strong{
    font-weight: 600;
  }
  .grid{
    display: grid;
    gap: 20px 10px ;
  }
  .grid2{
    grid-template-columns: repeat(2,1fr);
  }
  .grid3{
    grid-template-columns: repeat(3,1fr);
  }
  .grid4{
    grid-template-columns: repeat(4,1fr);
  }
  .grid img{
    max-width: 100%;
  }
  .container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 25px;
  }
.list-inline li{
    display: inline-block;
    list-style-type: none;

}
.bg-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    font-weight: 700;
}
h2, h3{
    font-weight: 600;
    
}
.btn-link{
    border: 2px solid var(--color-main);
    color: var(--color-main);
    font-size: .8em;
    display: inline-block;
    font-weight: 600;
    border-radius: 5px;
    padding: 8px 15px;
}
.btn-link:hover{
    background-color: var(--color-main);
    color: #fff;
}
.btn-link-light{
    border: 2px solid #fff;
}
/* all section */
.section{
    padding: 80px 0;
}
.section .short,
.section .title,
.section .desc{
    text-align: center;
    margin-bottom: 10px;
}
.section .short{
    color: var(--color-main);
    text-transform: uppercase;
    font-size: .9em;
}
.section .desc{
    margin-bottom: 40px;
    font-size: .9em;
}
/* Header nav */
header{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #010103b2;
}
.grid-header{
    grid-template-columns: 200px 1fr;
    align-items: center;
}
.logo img{
    max-width: 180px;
    padding: 4px 0;
}
/* menu */
.btn-menu-toggle{
    display: none;
    padding: 10px;
    justify-self: end;
}
.menu .list-inline{
    text-align: right;
}
.menu li{
    padding: 5px 10px;
}
.menu li a{
    color: var(--color-light);
    font-weight: 600;
    text-transform: uppercase;
    font-size: .85em;
    text-shadow: 0px 0px 5px black;
}
.menu li a:hover{
    text-decoration: underline;
    color: yellow;
    
}
/* header sticky */
#header .sticky{
    background-color: var(--color-dark);
    box-shadow: 1px 1px 10px gray;
}
/* intro section */
#intro{
    background-image:url(../img/bg-top.png);
    padding-top: 120px;
}
#intro .container{
    max-width: 1000px;
    padding: 5px 25px;

}
.intro-img img{
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    display: block;
}
.intro-desc *{
color: #fff;
}
.intro-desc h1,
.intro-desc h3,
.intro-desc p{
    margin-bottom: 20px;
    text-shadow: 0px 0px 8px black;
}
.intro-desc h1{
    font-size: 2em;
    text-shadow: 0px 0px 8px black;
}
.intro-desc h3{
    color: rgb(250, 245, 245);
    text-shadow: 0px 0px 2px rgb(251, 250, 250);
}



 /*How to work section  */
#howto .grid{
grid-template-areas: "detail1 img detail2";
}

#howto .grid div:nth-child(1){
grid-area: detail1;
}
#howto .grid div:nth-child(2){
    grid-area: img;
}
#howto .grid div:nth-child(3){
    grid-area: detail2;
}
.functions ul{
    padding: 10px 30px;
}
.functions li{
    padding: 10px;
    list-style-type: none;
    margin: 5px 0 20px;
    font-size: .9em;
}
.functions li i{
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--color-main);
}
.functions li h3{
    margin-bottom: 10px;
}
.functions-image img{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
}
.col-left li{
    text-align: right;
}
/* Features */
#features{
    background-color: var(--color-light);
}
#features .container{
    max-width: 1000px;
    
}
.feature{
    padding: 50px 20px;
    box-shadow: 1px 1px 15px rgb(180, 174, 174);
    text-align: center;
    background-color: #fcfbfb;
    border-radius:10px;
}
.feature i{
    color: var(--color-main);
    font-size: 2.8em;
    margin: 20px 0;
}

.feature h3{
    margin-bottom: 10px;
    font-weight: 500;

}
.feature:hover{
    background: linear-gradient(0deg,#6862f4 21%,#6862f4a4 79%);
}
.feature:hover *{
    color: #fff;

}
/* video section css */
.bg-video{
    background-image: url(/img/bg-video.png);
    background-attachment: fixed;
}

#demo{
    text-align:center;
}
#demo .title, 
#demo .desc ,
#demo .btn-play{
    color: #fcfcfc;
}
#demo .btn-play i{
    font-size:5em;
}
#demo .btn-play:hover i{
    transform:scale(1.1);
}

/* Review section */
.review-main{
    position: relative;
    width: 100%;
    background-color: #0e0b0472;
padding: 300px 0px;
background-image: url(/img/pexels-julia-m-cameron-4144179.jpg);
background-position: center;
background-size: cover;

}
.wrapper {
    background-color: #f9f7f7fc;
    position: absolute;
    width: 80vw;
    max-width: 41em;
    min-height: 25em;
    border-radius: 0.6em;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
    display: flex;
   
  }
  
  .testimonial-container {
    width: 85%;
    height: 100%;
    position: relative;
    margin: auto;
    padding: 1.8em 1.2em;
  }
  .wrapper button {
    font-size: 1.8em;
    height: 2.2em;
    width: 2.2em;
    background-color: #ffffff;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    color: #0a69ed;
    box-shadow: 0 0 1em rgba(1, 17, 39, 0.25);
    cursor: pointer;
    border-radius: 50%;
  }
  button#next {
    right: -1.1em;
  }
  button#prev {
    left: -1.1em;
  }
  .testimonial-container p {
    color: #8c8c90;
    text-align: center;
    font-size: 0.9em;
    line-height: 2em;
    letter-spacing: 0.05em;
  }
  .testimonial-container img {
    display: block;
    margin: 1.8em auto 1.25em auto;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 5px;
    border: 3px solid orangered;
    box-shadow: 0px 5px 20px rgba(251, 255, 0, 0.81);
    &:hover{
        scale: 1.1;
    }
  }
  .testimonial-container h3 {
    color: #2d3d67;
    font-size: 1em;
    text-align: center;
  }
  .testimonial-container h6 {
    color: #bcc4da;
    font-size: 0.9em;
    letter-spacing: 0.03em;
    font-weight: 400;
    text-align: center;
  }
  @media screen and (max-width: 650px) {
    .wrapper {
      font-size: 14px;
    }
  }
/* Pricing Ssection */
.info{
    padding: 40px 10px;
    align-self: center;
}
.info h2{
    margin-bottom: 20px;

}
.info p{
    margin-bottom: 10px;
}
.model{
    text-align: center;
    border: 1px solid var(--color-light);
    padding: 40px 25px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px black;
    margin: 5px;
}
.model i{
    color: var(--color-gray1);
    font-size: 2em;
    margin-bottom: 20px;
}
.model h3{
    color: var(--color-main);
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 20px;
}
.model h4{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 900;

}
.model ul{
    margin-bottom: 40px;
}
.model ul li{
    text-align: center;
    list-style-type: none;
    padding: 10px 0;
    font-size: .85em;
    position: relative;
    padding-left: 20px;
}
.model ul li:before{
    content: \f058;
    font-family: 'font Awesome 5 free';
    color: var(--color-main);
    position: absolute;
    left: 0;
}
.tk{
    color: red;
}
/* contact section */
#contact{
    position: relative;
    background-color: var(--color-light);
}
.bg-contact{
    background-image: url(../img/bg-contact.jpg);
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
}
.section-contact h2{
    margin-bottom: 10px;
}
.section-contact p{
    margin-bottom: 20px;

}
.section-contact{
    background-color: var(--color-light);
    padding: 80px 60px;
}
.section-contact form input,
.section-contact form button{
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 10px;
    border-radius: 5px;
    border: 1px solid var(--color-gray);
    box-shadow: 0px 0px 5px rgb(232, 190, 4);
}
.section-contact form button{
    background-color:rgb(254, 182, 1);
    border: 0;  
    color: #0e0d0d;
    height: 35px;
    width: inherit;
    font-size: 1em;
    padding: 5px;
    box-shadow: 0px 0px 10px black;
}
.section-contact form button:hover{
    color: #f4f4ff;
    background-color:rgb(250, 78, 4);
}
/* footer section css */

footer ul,
footer p{
    text-align: center;
}
.social i{
    font-size: 1.6em;
}
.social a{
    margin: 0 10px;
}
.social{
    margin-bottom: 20px;
}
marquee{
    margin-top: 5px;
    color: #fff;
}